.box1{
    background-color: yellow;
    width: 20%;
    height: 700px;
    margin: 20px;
}

.box2{
    background-color: red;
    width: 20%;
    height: 700px;
    margin: 20px;
}   

.box3{
   background-color: green; 
   width: 20%;
   height: 700px;
   margin: 20px;
}   

.box4{
    background-color: aqua;
    width: 20%;
    height: 700px;
    margin: 20px;
}   

body{
    display: flex;
    justify-content: center;
}

img{
    width: 300px;
    margin: 5px;
    
}

.container{
    display: flex;
    justify-content: center;
    margin: 20px;
}
